src/wsdls/WsdlAuditoriaTitanIw.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.grupotvcable.com.ec/WsdlAuditoriaTitanIw/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsdlAuditoriaTitanIw" targetNamespace="http://www.grupotvcable.com.ec/WsdlAuditoriaTitanIw/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.grupotvcable.com.ec/WsdlAuditoriaTitanIw/" elementFormDefault="qualified">
      <xsd:element name="ConsultaIntraway">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="EjecutaConsulta" type="tns:EjecutaConsulta"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaIntrawayResponse">
        <xsd:complexType>
          <xsd:sequence>
          	
          	<xsd:element name="Respuesta" type="tns:Respuesta"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="CableModem">
      	<xsd:sequence>
      		<xsd:element name="MacAddress" type="xsd:string"></xsd:element>
      		<xsd:element name="ServicePackege" type="xsd:string"></xsd:element>
      		<xsd:element name="Cpe" type="xsd:string"></xsd:element>
      		<xsd:element name="IdProducto" type="xsd:string"></xsd:element>
      		<xsd:element name="Estado" type="xsd:string"></xsd:element>
      		<xsd:element name="Mta" type="tns:Mta"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Mta">
      	<xsd:sequence>
      		<xsd:element name="MacAddress" type="xsd:string"></xsd:element>
      		<xsd:element name="Modelo" type="xsd:string"></xsd:element>
      		<xsd:element name="MtaProfile" type="xsd:string"></xsd:element>
      		<xsd:element name="IdProducto" type="xsd:string"></xsd:element>
      		<xsd:element name="IdProductoPadre" type="xsd:string"></xsd:element>
      		<xsd:element name="Estado" type="xsd:string"></xsd:element>
      		<xsd:element name="EndPoints" type="tns:EndPoints" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="EndPoints">
      	<xsd:sequence>
      		<xsd:element name="telefono" type="xsd:string"></xsd:element>
      		<xsd:element name="HomeExchange" type="xsd:string"></xsd:element>
      		<xsd:element name="IdProducto" type="xsd:string"></xsd:element>
      		<xsd:element name="IdProductoPadre" type="xsd:string"></xsd:element>
      		<xsd:element name="Estado" type="xsd:string"></xsd:element>
      		<xsd:element name="CallFeature" type="tns:CallFeature" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="CallFeature">
      	<xsd:sequence>
      		<xsd:element name="CallFeature" type="xsd:string"></xsd:element>
      		<xsd:element name="Feature" type="xsd:string"></xsd:element>
      		<xsd:element name="IdProducto" type="xsd:string"></xsd:element>
      		<xsd:element name="IdProductoPadre" type="xsd:string"></xsd:element>
      		<xsd:element name="Estado" type="xsd:string"></xsd:element>
      		<xsd:element name="Custom1" type="xsd:string"></xsd:element>
      		<xsd:element name="Custom2" type="xsd:string"></xsd:element>
      		<xsd:element name="Custom3" type="xsd:string"></xsd:element>
      		<xsd:element name="Custom4" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Email">
      	<xsd:sequence>
      		<xsd:element name="IdProducto" type="xsd:string"></xsd:element>
      		<xsd:element name="IdProductoPadre" type="xsd:string"></xsd:element>
      		<xsd:element name="Name" type="xsd:string"></xsd:element>
      		<xsd:element name="UserName" type="xsd:string"></xsd:element>
      		<xsd:element name="Dominio" type="xsd:string"></xsd:element>
      		<xsd:element name="Password" type="xsd:string"></xsd:element>

      		<xsd:element name="Estado" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="DialUp">
      	<xsd:sequence>
      		<xsd:element name="IdProducto" type="xsd:string"></xsd:element>
      		<xsd:element name="UserName" type="xsd:string"></xsd:element>
      		<xsd:element name="Password" type="xsd:string"></xsd:element>
      		<xsd:element name="Estado" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
            
        
      <xsd:complexType name="EjecutaConsulta">
      	<xsd:sequence>
      		<xsd:element name="IDEmpresa" type="xsd:int" />
          	<xsd:element name="ClienteCRM" type="xsd:string"></xsd:element>
          	<xsd:element name="Contrato" type="xsd:string"></xsd:element>
          	
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Respuesta">
      	<xsd:sequence>
      		<xsd:element name="CodError" type="xsd:string" />

          	<xsd:element name="DetMensaje" type="xsd:string"></xsd:element>

          	<xsd:element name="Nombre" type="xsd:string"></xsd:element>
          	<xsd:element name="UserName" type="xsd:string"></xsd:element>
          	<xsd:element name="TipoCliente" type="xsd:string"></xsd:element>
          	<xsd:element name="CableModem" type="tns:CableModem"
          		maxOccurs="unbounded" minOccurs="0">
          	</xsd:element>
          	<xsd:element name="Email" type="tns:Email"
          		maxOccurs="unbounded" minOccurs="0">
          	</xsd:element>
          	<xsd:element name="DialUp" type="tns:DialUp"
          		maxOccurs="unbounded" minOccurs="0">
          	</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaIntrawayRequest">
    <wsdl:part element="tns:ConsultaIntraway" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConsultaIntrawayResponse">
    <wsdl:part element="tns:ConsultaIntrawayResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WsdlAuditoriaTitanIw">
    <wsdl:operation name="ConsultaIntraway">
      <wsdl:input message="tns:ConsultaIntrawayRequest"/>
      <wsdl:output message="tns:ConsultaIntrawayResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsdlAuditoriaTitanIwSOAP" type="tns:WsdlAuditoriaTitanIw">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaIntraway">
      <soap:operation soapAction="http://www.grupotvcable.com.ec/WsdlAuditoriaTitanIw/ConsultaIntraway"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsdlAuditoriaTitanIw">
    <wsdl:port binding="tns:WsdlAuditoriaTitanIwSOAP" name="WsdlAuditoriaTitanIwSOAP">
      <soap:address location="http://192.168.0.114:8081/Titan/services/WsdlAuditoriaTitanIw"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
