src/wsdls/WsdlMcAfeeConsultaWeb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.grupotvcable.com.ec/WsdlMcAfeeConsultaWeb/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsdlMcAfeeConsultaWeb" targetNamespace="http://www.grupotvcable.com.ec/WsdlMcAfeeConsultaWeb/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.grupotvcable.com.ec/WsdlMcAfeeConsultaWeb/" xmlns:tns="http://www.grupotvcable.com.ec/WsdlMcAfeeConsultaWeb/">
      <xsd:element name="Consulta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Respuesta">
      	<xsd:sequence>
      		<xsd:element name="CodError" type="xsd:string"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="DetMensaje" type="xsd:string"
      			minOccurs="1" maxOccurs="1">
      		</xsd:element>
      		<xsd:element name="IdMcAfee" type="xsd:string"></xsd:element>

      		<xsd:element name="isFamiliaProtegida"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="PasswordMcAfee" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespuestaClave">
      	<xsd:sequence>
      		<xsd:element name="CodError" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      		<xsd:element name="DetMensaje" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      		<xsd:element name="Clave" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarRequest">

    <wsdl:part name="Correo" type="xsd:string"></wsdl:part>
    <wsdl:part name="Clave" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarResponse">

    <wsdl:part name="Respuesta" type="tns:Respuesta"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecuperarClaveRequest">

  	<wsdl:part name="Correo" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecuperarClaveResponse">
  	<wsdl:part name="RespuestaClave" type="tns:RespuestaClave"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WsdlMcAfeeConsultaWeb">
    <wsdl:operation name="Consultar">
      <wsdl:input message="tns:ConsultarRequest"/>
      <wsdl:output message="tns:ConsultarResponse"/>
    </wsdl:operation>
    <wsdl:operation name="RecuperarClave">
    	<wsdl:input message="tns:RecuperarClaveRequest"></wsdl:input>
    	<wsdl:output message="tns:RecuperarClaveResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsdlMcAfeeConsultaWebSOAP" type="tns:WsdlMcAfeeConsultaWeb">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://www.grupotvcable.com.ec/WsdlMcAfeeConsultaWeb/WsdlMcAfeeConsultaWeb"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsdlMcAfeeConsultaWeb">
    <wsdl:port binding="tns:WsdlMcAfeeConsultaWebSOAP" name="WsdlMcAfeeConsultaWebSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
